@import url(reset.css);
@import url(vars.css);

@font-face {
    font-family: "myFont_400";
    src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "myFont_700";
    src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
}

:root{
    --FF-B: 'myFont_700';
    --FF-R: 'myFont_400';
    font-size: 15px;

    --body_background: var(--White);
    --body_place: start center;


    --wrapper_paddings: 0px;
    --warpper-radius: 0px;
    --wrapper_background:var(--White);
    --wrapper_gap: 0rem;
    --wrapper_place: unset;
    --wrapper_columns: auto;
    --wrapper_areas: 
    "hero"
    "email"
    ;


    --content_length: min(327px,100%);
}


body{
    font-family: var(--FF-R);

    display: grid;
    place-content: var(--body_place);
    place-items: center;

    height: 100vh;
    background: var(--body_background);
}
/* generals */
h1,h2,h3,h4,label,button{
    font-family: var(--FF-B);
    font-size: 1.08rem;
}

.wrapper{
    display: grid;
    grid-template-columns: var(--wrapper_areas);
    grid-template-areas: var(--wrapper_areas);
    place-items: var(--wrapper_place);
    gap: var(--wrapper_gap);
    

    background: var(--wrapper_background);
    border-radius: var(--warpper-radius);
    padding: var(--wrapper_paddings);

    overflow: hidden;
}

/* email section */
.email_section{
    grid-area: email;

    max-inline-size: 375px;
    margin-inline: auto;

    padding-block: 2.66rem;
}

.email_article,.email_features,form{
    max-inline-size: var(--content_length);
    margin-inline: auto;
}

.email_features{
    margin-block: 1.6rem 2.66rem;
}

/* text content */


.article_header{
    font-size: 2.66rem;
    line-height: 2.66rem;

    margin-block: 0 1.6rem;
}
.article_body,.email_features>li{
    font-size: 1.06rem;
    line-height: 1.6rem;
}
.email_features>li{
    display: flex;
    gap: 1.08rem;
    margin-block:  0 .7rem;
}
.email_features>li::before{
    content: url(../assets/images/icon-list.svg);
    display: block;
}

/* the form content */
form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.input_status{
    display: flex;
    justify-content: space-between;
}
label{
    font-size: .8rem;
    line-height: 1.2rem;
}
input,button{
    padding-block: 1.2rem;
    padding-inline: 1.6rem;
    border-radius: 8px;
    line-height: 1.6rem;
}
input{
    background: hsl(4, 100%, 67%, 0);
    border: var(--Grey) 1px solid;
    color: var(--Charcoal-Grey);
    outline: none;
}
button{
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    border: none;
    box-shadow: 0px 0px 0px hsla(4, 100%, 67%, 0);
    transition: all .3s ease;
}
button:hover{
    background-color: var(--Tomato);
    box-shadow: 0px 10px 20px hsl(4, 100%, 67%, .5);
}


/* hero section */

.hero_section{
    grid-area: hero;
}
.picture_hero{
    inline-size: 100%;  
    height: 100%;
    object-fit: cover;
}



/* media query */
@media(width>=800px){
    :root{
        --body_background: var(--Charcoal-Grey);
        --body_place: center;



        --wrapper_paddings: 1.6rem;
        --warpper-radius: 36px;
        --wrapper_gap: 4.26rem;
        --wrapper_place: center;
        --wrapper_columns: auto auto;
        --wrapper_areas: 
        "email hero"
        ;

        --content_length: min(376px,100%);
    }
}

/* for js attributes */

form.invalid>input{
    background: hsl(4, 100%, 67%, .15);
    border-color: var(--Tomato);
    transition: all .3s ease;
}
.error{
    color: var(--Tomato);
    opacity: 0;
    transition: all .3s ease;
}
form.invalid .error{
    opacity: 1;
}
